<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        body {background-color: #F5F5DC; color: #222;}
        .centered {text-align: center;}
    </style>
</head>
{% block content %}
  <header class='centered'>
  <h1>Добавить новый пост</h1>
  </header>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post">
    <label for="title">Заголовок</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="rezume">Краткая информация</label><br>
    <input type="text" id="rezume" name="rezume"><br>
    <label for="info">Материал поста</label><br>
    <textarea id="info" name="info"></textarea><br>
    <input type="hidden" id="created_at" name="created_at"><br>
    <input type="hidden" id="slug" name="slug"><br>
    <input type="submit" value="Submit">
  </form>
  <script>
    document.getElementById('created_at').value = new Date().toISOString();
  </script>
{% endblock %}
